certificate:
  subject:
    organizations: overlay_me
  commonName: overlay_me
  dnsNames: overlay_me

psp:
  privileged: overlay_me

configuration:
  connect: overlay_me

image:
  repository: ghcr.io/hamburg-port-authority/stunnel
  tag: sha-e3b7753