prometheus-node-exporter:
  
  prometheus:
    monitor:
      enabled: true

  service:
    type: ClusterIP
    port: 30001
    targetPort: 30001
    nodePort:
    portName: metrics
    listenOnAllInterfaces: true
    annotations: {}

  networkPolicy:
    enabled: false

  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1

  resources:
    limits:
      cpu: 200m
      memory: 50Mi
    requests:
      cpu: 100m
      memory: 30Mi

  serviceAccount:
    create: true
    
  rbac:
    create: true
    pspEnabled: true

  hostRootFsMount:
    enabled: true
    mountPropagation: HostToContainer

  podAnnotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict: "true"

  podLabels: 
    jobLabel: node-exporter

  extraArgs:
    - --collector.filesystem.ignored-mount-points=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
    - --collector.filesystem.ignored-fs-types=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$