psp:
  enabled: "false"
  privileged: overlay_me

falco:
  scc:
    create: false
  customRules:
    CVE-2024-21626.yaml: |-
      - macro: container
        condition: (container.id != host and container.name exists)

      - rule: CVE-2024-21626 (runC escape through /proc/[PID]/cwd) exploited
        desc: >
          Detect CVE-2024-21626, runC escape vulerability through /proc/[PID]/cwd.
        condition: >
          container and ((evt.type = execve and proc.cwd startswith "/proc/self/fd") or (evt.type in (open, openat, openat2) and fd.name glob "/proc/*/cwd/*") or (evt.type in (symlink, symlinkat) and fs.path.target startswith "/proc/self/fd/")) and proc.name != "runc:[1:CHILD]"
        output: >
          CVE-2024-21626 exploited ( %container.info evt_type=%evt.type process=%proc.name command=%proc.cmdline target=%fs.path.targetraw )
        priority: CRITICAL

  falco:
    grpc:
      enabled: true
      bind_address: "unix:///run/falco/falco.sock"
      threadiness: 8

    grpc_output:
      enabled: true